.user-dropdown {
  width: 100%;
  max-width: 300px;
  background-color: #1B2232;
  border: 1px solid #283352;
  border-radius: 6px;
  position: absolute;
  right: 35px;
  top: calc(100% + 10px);
  color: #8A92A5;
  z-index: 9999;
  box-shadow: 0 0 15px #0000007d;
  display: none;
}
.user-dropdown.active {
  display: block;
}
.user-dropdown .tabs {
  display: flex;
  list-style: none;
  justify-content: center;
  border-bottom: 1px solid #242D40;
  margin: 0;
  padding: 0;
}
.user-dropdown .tabs li {
  flex: 1;
  border-left: 1px solid #242D40;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
}
.user-dropdown .tabs li:first-child {
  border: none;
}
.user-dropdown .tabs li:hover {
  cursor: pointer;
  color: #fff;
}
.user-dropdown .tabs li.active {
  background: #d3a628;
  color: #000;
}
.user-dropdown .user-info {
  padding: 12px 20px;
}
.user-dropdown .user-info h6 {
  margin-bottom: 0;
  color: #fff;
}
.user-dropdown .money-info {
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #293246;
}
.user-dropdown .money-info .d-col {
  flex: 1 50%;
}
.user-dropdown .money-info p {
  font-size: 12px;
  margin: 0;
}
.user-dropdown .money-info span {
  font-size: 16px;
  color: #fff;
}
.user-dropdown .lending-box {
  background-color: #1D2436;
  border-bottom: 1px solid #293246;
}
.user-dropdown .lending-box .lending-box-title {
  padding: 14px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-dropdown .lending-box .lending-box-title h6 {
  flex: 1;
  font-size: 14px;
  margin: 0;
  color: #fff;
}
.user-dropdown .lending-box .lending-box-title a {
  color: #FFBC00;
  font-size: 12px;
}
.user-dropdown .lending-box .lending-box-title a:hover {
  text-decoration: underline;
}
.user-dropdown .lending-box p {
  color: #8A92A5;
  font-size: 12px;
  padding: 0 20px;
  line-height: 12px;
  margin: 0;
}
.user-dropdown .lending-box .lending-button {
  margin: 20px 20px 20px;
  padding: 10px 25px;
  background: #FFBC00;
  border-radius: 6px;
  font-size: 12px;
  display: inline-block;
  color: #000;
}
.user-dropdown .lending-box .lending-button:hover {
  cursor: pointer;
  background: #fac736;
}
.user-dropdown .lending-box .progress-box {
  padding: 0 20px;
}
.user-dropdown .lending-box .progress-box .progress-line {
  height: 12px;
  background-color: #242D40;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}
.user-dropdown .lending-box .progress-box .progress-line .progress-fill {
  position: absolute;
  content: "";
  height: 100%;
  width: 0;
  border-radius: 40px;
  background: #ffbc00;
  background: linear-gradient(90deg, #ffbc00 0%, #de8409 100%);
}
.user-dropdown .lending-box .progress-box .progress-info {
  margin: 10px 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-dropdown .lending-box .progress-box .progress-info h6 {
  flex: 1;
  font-size: 14px;
  margin: 0;
  color: #fff;
}
.user-dropdown .lending-box .progress-box .progress-info span {
  font-size: 10px;
}
.user-dropdown .user-links {
  padding: 6px 20px;
  border-bottom: 1px solid #293246;
}
.user-dropdown .user-links > * {
  transition: all 0.15s linear;
}
.user-dropdown .user-links .link {
  display: flex;
  align-items: center;
  padding: 6px 0;
  margin: 0;
  color: #8A92A5;
  font-size: 16px;
}
.user-dropdown .user-links .link i {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #ccc;
  margin-left: 10px;
}
.user-dropdown .user-links .link i[data-status="0"] {
  background-color: #51a600;
}
.user-dropdown .user-links .link i[data-status="1"] {
  background-color: #f13232;
}
.user-dropdown .user-links .link i[data-status="2"] {
  background-color: #ffbc00;
}
.user-dropdown .user-links .link i[data-status="3"] {
  background-color: #ffbc00;
}
.user-dropdown .user-links .link:hover {
  cursor: pointer;
  color: #fff;
}
.user-dropdown .log-out {
  padding: 14px 20px;
}
.user-dropdown .log-out .user-logout {
  display: flex;
  align-items: center;
}
.user-dropdown .log-out .user-logout svg {
  fill: #b2bcd6;
  height: 16px;
}
.user-dropdown .log-out .user-logout span {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #8A92A5;
  padding-left: 12px;
}
.user-dropdown .log-out .user-logout > * {
  transition: all 0.15s linear;
}
.user-dropdown .log-out .user-logout:hover {
  cursor: pointer;
}
.user-dropdown .log-out .user-logout:hover span {
  color: #fff;
}
.user-dropdown .log-out .user-logout:hover svg {
  fill: #fff;
}
.user-dropdown .freeSpin {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #242D40;
}
.user-dropdown .freeSpin p {
  margin: 0;
  font-size: 12px;
  position: relative;
  padding-left: 14px;
}
.user-dropdown .freeSpin p:before {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #f13232;
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.user-dropdown .freeSpin span {
  color: #fff;
}
.user-dropdown .freeSpin .freeSpin-col {
  flex: 1;
}
.user-dropdown .freeSpin a {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(77.69deg, #10B77F 0%, #10B7AD 85.44%);
  border-radius: 50%;
}
.user-dropdown .freeSpin a i {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAECAwP0BPUF9wgI+Qn6+/3+8Vytu2AAAAQklEQVR42mXHgwFEMRAA0dic/ns9fGOC3Seeaa+OPcEIOyb8qFfAoguybzu6LcwVM8T5+xY436FKsWShG7Fnfuu7LwKDAzBkyta8AAAAAElFTkSuQmCC);
  width: 12px;
  height: 12px;
  display: inline-block;
}
.user-dropdown .freeSpin_content {
  padding: 12px 20px;
  border-bottom: 1px solid #293246;
}
.user-dropdown .freeSpin_content h5 {
  font-size: 14px;
  color: #fff;
}
.user-dropdown .freeSpin_content p {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  color: #8A92A5;
  font-size: 12px;
  line-height: 12px;
}
.user-dropdown .freeSpin_content .fs_but {
  padding: 5px 12px;
  background: linear-gradient(89.06deg, #8E2DE2 8.52%, #4A00E0 120.31%);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
}
.user-dropdown .freeSpin_content .fs_but .time span {
  color: #EBB924;
}
@media (max-width: 400px) {
  .user-dropdown {
    right: 50%;
    transform: translateX(50%);
  }
}

/*# sourceMappingURL=userDropdown.css.map */
