.user-dropdown {
  width: 100%;
  max-width: 290px;
  background-color: #1B2232;
  border: 1px solid #283352;
  border-radius: 6px;
  position: absolute;
  right: 35px;
  top: calc(100% + 10px);
  color: #8A92A5;
  z-index: 9999;
  box-shadow: 0 0 15px #0000007d;
  display: none;
  &.active {display: block}

  .tabs {
    display: flex;
    list-style: none;
    justify-content: center;
    border-bottom: 1px solid #242D40;
    margin: 0;
    padding: 0;

    li {
      flex: 1;
      border-left: 1px solid #242D40;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      &:first-child {
        border: none;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
      }
      &.active {
        background: #d3a628;
        color: #000;
      }
    }
  }
  .user-info {
    padding: 12px 20px;
    h6 {
      margin-bottom: 0;
      color: #fff;
    }
    span {}
  }
  .money-info {
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #293246;
    .d-col {
      flex: 1 50%;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
    span {
      font-size: 16px;
      color: #fff;
    }
  }
  .lending-box {
    background-color: #1D2436;
    border-bottom: 1px solid #293246;
    .lending-box-title {
      padding: 14px 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      h6 {
        flex: 1;
        font-size: 14px;
        margin: 0;
        color: #fff;
      }
      a{
        color: #FFBC00;
        font-size: 12px;
        &:hover{text-decoration: underline}
      }
    }
    p {
      color: #8A92A5;
      font-size: 12px;
      padding: 0 20px;
      line-height: 12px;
      margin: 0;
    }
    .lending-button {
      margin: 20px 20px 20px;
      padding: 10px 25px;
      background: #FFBC00;
      border-radius: 6px;
      font-size: 12px;
      display: inline-block;
      color: #000;
      &:hover {
        cursor: pointer;
        background: #fac736;
      }
    }
    .progress-box {
      padding: 0 20px;
      .progress-line {
        height: 12px;
        background-color: #242D40;
        border-radius: 40px;
        position: relative;
        overflow: hidden;
        .progress-fill {
          position: absolute;
          content: '';
          height: 100%;
          width: 0;
          border-radius: 40px;
          background: rgb(255,188,0);
          background: linear-gradient(90deg, rgba(255,188,0,1) 0%, rgba(222,132,9,1) 100%);
        }
      }
      .progress-info {
        margin: 10px 0 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        h6 {
          flex: 1;
          font-size: 14px;
          margin: 0;
          color: #fff;
        }
        span {
          font-size: 10px;
        }
      }
    }
  }
  .user-links {
    padding: 6px 20px;
    border-bottom: 1px solid #293246;
    & > * {
      transition: all .15s linear;
    }
    .link {
      display: flex;
      align-items: center;
      padding: 6px 0;
      margin: 0;
      color: #8A92A5;
      font-size: 16px;
      i {
        width: 8px;
        height: 8px;
        border-radius: 50px;
        background-color: #ccc;
        margin-left: 10px;
        &[data-status="0"]{background-color: #51a600;}
        &[data-status="1"]{background-color: #f13232;}
        &[data-status="2"]{background-color: #ffbc00;}
        &[data-status="3"]{background-color: #ffbc00;}
      }
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
  .log-out {
    padding: 14px 20px;
    .user-logout {
      display: flex;
      align-items: center;
      svg {
        fill: #b2bcd6;
        height: 16px;
      }
      span {
        font-weight: 600;
        font-size: 16px;
        text-align: left;
        color: #8A92A5;
        padding-left: 12px;
      }
      & > * {transition: all .15s linear;}
      &:hover {
        cursor: pointer;
        span {color: #fff;}
        svg {fill: #fff;}
      }
    }

  }

  .freeSpin {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #242D40;
    p {margin: 0;font-size: 12px;}
    span {color:#fff}
    .freeSpin-col {
      flex: 1;
    }
    a {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(77.69deg, #10B77F 0%, #10B7AD 85.44%);
      border-radius: 50%;
      i {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAECAwP0BPUF9wgI+Qn6+/3+8Vytu2AAAAQklEQVR42mXHgwFEMRAA0dic/ns9fGOC3Seeaa+OPcEIOyb8qFfAoguybzu6LcwVM8T5+xY436FKsWShG7Fnfuu7LwKDAzBkyta8AAAAAElFTkSuQmCC);
        width: 12px;
        height: 12px;
        display: inline-block;
      }
    }
  }
  .freeSpin_content {
    padding: 12px 20px;
    border-bottom: 1px solid #293246;
    h5{
      font-size: 14px;
      color: #fff;
    }
    p {
      color: rgba(255, 255, 255, 0.6);
      margin: 0;
      color: #8A92A5;
      font-size: 12px;

      line-height: 12px;
    }

  }

  @media(max-width: 400px){
    right: 50%;
    transform: translateX(50%);
  }
}