.error{
  border-bottom: 1px solid red;
}
.error-text{
  color:red !important;
}
.terms{
  color: #8f9ec8;
  font-size: 14px;
  span {
    a {color: #cecccc}
  }
}

.signUp-form {
  .input-label input {
    background-color: #262e45;
  }
  .input-label input[type="date"] {
    & + label {
      color: #8594c1;
      top: 20% !important;
      transform: unset;
      font-size: 12px;
    }
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }

}

.pass-pattern {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  position: relative;
  &[data-text] {
    padding-top: 20px;
    &:before {
      position: absolute;
      content: attr(data-text);
      top: -8px;
      left: 0;
      color: #fff;
    }
  }
  li {
    flex:1;
    height: 8px;
    border-radius: 30px;
    background: #4e546b;
    &:nth-child(2) {margin: 0 3px}
  }

  &[data-active="1"] {
    li {
      &:nth-child(1) {background: red}
    }

  }
  &[data-active="2"] {
    li {
      &:nth-child(1) {
        background: #ffbc00
      }

      &:nth-child(2) {
        background: #ffbc00
      }
    }
  }
  &[data-active="3"] {
    li {
      &:nth-child(1) {
        background: #8efd1e
      }

      &:nth-child(2) {
        background: #8EFD1EFF
      }

      &:nth-child(3) {
        background: #8EFD1EFF
      }
    }
  }
}
