.slot-new-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.slot-new-filter button {
  flex: 1;
  max-width: 120px;
  margin-right: 10px;
  background: #1D243A;
  font-family: "Proxima Regular", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #4D5A7D;
  border-radius: 6px;
  padding: 0 16px;
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 15px;
}
.slot-new-filter button[data-new]:before {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  content: attr(data-new);
  color: #fff;
  background: #B62752;
  padding: 0 10px;
  border-radius: 17px;
  line-height: 20px;
  font-size: 12px;
}
.slot-new-filter button:first-child {
  max-width: 70px;
}
.slot-new-filter button.active {
  color: #8f9ec8;
}
.slot-new-filter button:hover {
  cursor: pointer;
  background: #1e263d;
}
.slot-new-filter .search {
  flex: 1;
}
.slot-new-filter .search .search_clear {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background-size: contain;
  background-position: center;
  width: 26px;
  height: 30px;
  color: #707070;
  display: none;
  line-height: 30px;
}
.slot-new-filter .search .search_clear:hover {
  cursor: pointer;
  color: red;
}
.slot-new-filter .search input {
  padding: 13px 5px 13px 43px;
}

.slot-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.slot-nav ul li {
  flex: auto;
  max-width: 200px;
  color: #8F9EC8;
  height: 50px;
  margin: 0px 0px;
  padding: 12px 12px;
  border-bottom: 2px solid #1D2332;
}
.slot-nav ul li[data-id="72"], .slot-nav ul li[data-id="89"] {
  max-width: 130px;
}
.slot-nav ul li[data-id="72"], .slot-nav ul li[data-id="133"], .slot-nav ul li[data-id="135"] {
  max-width: 140px;
}
.slot-nav ul li[data-id="136"] {
  max-width: 150px;
}
.slot-nav ul li img {
  margin-right: 5px;
}
.slot-nav ul li.active {
  border-bottom: 2px solid #ccc;
  color: #ccc;
}
.slot-nav ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid #ccc;
}
.slot-nav.dropdown {
  overflow: visible;
}
.slot-nav.dropdown ul {
  flex-wrap: wrap;
}
.slot-nav.dropdown ul li {
  white-space: nowrap;
}

.slot-nav-mob {
  display: none !important;
}

@media (max-width: 991px) {
  .slot-new-filter {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-top: 10px;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .slot-new-filter .search {
    order: 1;
    margin: 0 5px;
    position: relative;
    margin-right: 10px;
  }
  .slot-new-filter .search input {
    margin: 0;
    padding: 13px 16px 13px 30px;
  }
  .slot-new-filter .search input::placeholder {
    color: #192034;
  }
  .slot-new-filter .search input.active {
    min-width: 222px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .slot-new-filter .search input.active + .search_clear {
    display: block;
  }
  .slot-new-filter::-webkit-scrollbar {
    width: 2px;
    height: 0px;
  }
  .slot-new-filter::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .slot-new-filter::-webkit-scrollbar-thumb {
    background: #888;
  }
  .slot-new-filter::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .slot-new-filter button {
    order: 2;
    min-width: 102px;
    font-size: 14px;
    line-height: 13px;
  }
  .slot-new-filter button:first-child {
    min-width: 70px;
  }

  .slot-nav {
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  .slot-nav::-webkit-scrollbar {
    display: none;
  }
  .slot-nav ul {
    flex-wrap: nowrap;
  }
  .slot-nav ul li {
    white-space: nowrap;
  }

  .slot-nav-mob {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
  }
  .slot-nav-mob button {
    background: #1D243A;
    font-family: "Proxima Regular", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #4D5A7D;
    border-radius: 6px;
    text-align: left;
    padding: 0 16px;
    height: 50px;
    margin-top: -18px;
  }
  .slot-nav-mob button svg {
    height: 30px;
    fill: #8f9ec8;
  }
  .slot-nav-mob.active button svg {
    transform: rotate(180deg);
  }
}
@media (max-width: 767px) {
  .slot-new-filter .search {
    order: 1;
    margin: 0 5px;
    position: relative;
  }
  .slot-new-filter .search input {
    margin: 0;
    padding: 13px 16px 13px 30px;
  }
  .slot-new-filter .search input::placeholder {
    color: #192034;
  }
  .slot-new-filter .search input.active {
    min-width: 222px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .slot-new-filter .search input.active + .search_clear {
    display: block;
  }
  .slot-new-filter button {
    order: 2;
    margin: 0 5px;
    max-width: unset;
    flex: auto;
  }
}
@media (max-width: 400px) {
  .slot-new-filter .search input {
    padding: 9px 16px 9px 30px;
    border-radius: 4px;
    background: #1D243A;
  }
  .slot-new-filter button {
    padding: 0 10px;
    font-size: 14px;
    height: 40px;
    border-radius: 4px;
  }

  .slot-nav ul li {
    flex: 1 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .slot-nav ul li[data-id="72"], .slot-nav ul li[data-id="89"] {
    max-width: unset;
  }
  .slot-nav ul li[data-id="72"], .slot-nav ul li[data-id="133"], .slot-nav ul li[data-id="135"] {
    max-width: unset;
  }
  .slot-nav ul li[data-id="136"] {
    max-width: unset;
  }
}

/*# sourceMappingURL=slotsScreen.css.map */
